// css components
.textbox {
    --pText: 80px;
    padding: 140px 114px 0 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    .title {
        @include text(64px, cds, 77px, $white-cl, none);
    }
    .sub-title {
        display: inline-flex;
        align-items: center;
        @include text(18px, greb, 22px, $text-cl, uppercase);
        letter-spacing: 6px;
        &:before {
            content: "";
            width: 72px;
            height: 2px;
            background: $text-cl;
            display: inline-block;
            position: relative;
            margin-right: 32px;
            left: 0;
        }
    }
    .des {
        @include text(18px, grb, 32px, $white-cl, none);
    }
}